*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}
header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 15px 90px;
    background:  #131652;
    justify-content: space-between;
    align-items: center;
}
._game_logo{
    font-size: 2.5em;
    font-weight: 900;
    color: #fff;
    text-decoration: none;
    font-family:'Courier New', Courier, monospace;
}
._game_ul{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    
}
._game_ul li{
    font-size: 16px;
    margin: 15px;
}
._game_ul li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 650;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
}
._game_ul li a:hover{
    opacity: 0.7;
}
._game_section{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 15px 100px;
    align-items: center;
    height:100vh;
    background-color: #040961;
}
._player_data{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 19px;
    width: 30%;
    justify-content: space-between;
    border: 1px solid #fff;
    border-radius:5px;
}
._player_data h5{
    font-size: 17px;
    font-weight: 800;
    color: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
._moves p{
    text-align: center;
    font-size: 18px;
    color:#fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
._score_box{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding:5px;
    border-radius:5px;
    background: #fff;
    width: 20%;
    height: 70px;
    align-items: center;
}
._score_box #scoreId {
    font-size: 14px;
    font-weight: 500;
    color:#444;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
._score_box p{
    font-size: 20px;
    font-size: 900;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
._game_btns{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 15px 100px;
    margin: 20px;
    width: 30%;
    justify-content: center;

}
button{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin:15px;
    padding:8px;
    border-radius: 50%;
    background: #fff;
    outline: none;
}
#rock{
    border: 7px rgb(23, 23, 129) solid;

}
#paper{
    border: 7px rgb(211, 98, 23) solid;

}
#sis{
    border: 7px rgb(104, 218, 218) solid;

}
button i{
    font-size: 35px;
}
button:hover{
    cursor: pointer;
    transition: 0.5s;
    filter: invert(1);
}
._game_result{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    
}
._game_result div{
    padding: 8px;
    margin: 8px;
}

._game_result p{
    font-weight: 700;
    font-size: 16px;
    color: #ccc;
    text-align: center;
    margin: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.alt_btn{
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    color:#222;
    font-size: 17px;
    font-weight: 800;
    border-radius: 7px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 15px;
    background: #ccc;
}
.alt_btn:hover{
    background: #222;
    color: #fff;
    transition: 0.5s;
}
.res{
    font-size: 50px;
    background:#fff ;
}
.ripple{
    animation: anim 2s linear infinite;

}

.hide{
    display: none;
}

@keyframes anim{
    0%{
        box-shadow: 0 0 0 0px rgba(123, 62, 202, 0.2);
    }
    20%{
        box-shadow: 0 0 0 20px rgba(123, 62, 202, 0.2);
    }
    40%{
        box-shadow: 0 0 0 20px rgba(123, 62, 202, 0.2),
                    0 0 0 40px rgba(123, 62, 202, 0.2);
    }
    60%{
        box-shadow: 0 0 0 10px rgba(123, 62, 202, 0.2),
                    0 0 0 50px rgba(123, 62, 202, 0.2),
                    0 0 0 30px rgba(123, 62, 202, 0.2);
    }
    80%{
        box-shadow: 0 0 0 0px rgba(123, 62, 202, 0.2),
                    0 0 0 40px rgba(123, 62, 202, 0.2),
                    0 0 0 60px rgba(123, 62, 202, 0.2),
                    0 0 0 80px rgba(123, 62, 202, 0.2);
    }
    100%{
        box-shadow: 0 0 0 20px rgba(123, 62, 202, 0.2),
                    0 0 0 40px rgba(123, 62, 202, 0.2),
                    0 0 0 60px rgba(123, 62, 202, 0.2),
                    0 0 0 90px rgba(123, 62, 202, 0.2),
                    0 0 0 120px rgba(123, 62, 202, 0.2);
    }
}

/* RULES HTML STYLES */

._game_rules_section{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 15px 90px;
    background: #040961;
    height: 90vh;
    align-items: center;
}
._game_rules_body{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin:15px;
    padding: 15px 90px;
}
._game_rules_body h5{
    font-size:2em;
    font-weight: 800;
    color: #ccc;
    font-family: 'Courier New', Courier, monospace;
}
._rules_ul{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 15px 60px;
    list-style-type: square;
}
._rules_ul li{
    font-size:19px;
    font-weight: 400;
    font-style: italic;
    color: #ccc;
    font-family: 'Courier New', Courier, monospace;
}
._rules_ol{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 15px 60px;
}
._rules_ol li{
    font-size:19px;
    font-weight: 400;
    font-style: italic;
    color: #ccc;

    font-family: 'Courier New', Courier, monospace;
}

@media only screen and (max-width: 700px){
    .menu_toggle{
        display: block;
        position: relative;
        top: 50px;
        left: 50px;
        z-index: 1;
        -webkit-user-select: none;
        user-select: none;
    }


    .menu_toggle
    {
        display: block;
        position: relative;
        top: 0px;
        left: -80px;
        z-index: 1;
        bottom: 0px;
        -webkit-user-select: none;
        user-select: none;
    }

    .menu_toggle a
    {
        text-decoration: none;
        color: #232323;
        transition: color 0.3s ease;
    }

    .menu_toggle a:hover
    {
        color: tomato;
    }


    .menu_toggle input
    {
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: -7px;
        left: -5px;
        
        cursor: pointer;
        
        opacity: 0; /* hide this */
        z-index: 2; /* and place it over the hamburger */
        
        -webkit-touch-callout: none;
    }

/*
 * Just a quick hamburger
 */
    .menu_toggle span
    {
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;
        background: #fff;
        border-radius: 3px;
        z-index: 1;
        transform-origin: 4px 0px;
        
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
    }

    .menu_toggle span:first-child
    {
        transform-origin: 0% 0%;
    }

    .menu_toggle span:nth-last-child(2)
    {
        transform-origin: 0% 100%;
    }

    /* 
    * Transform all the slices of hamburger
    * into a crossmark.
    */
    .menu_toggle input:checked ~ span
    {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        background: #fff;
    }

/*
 * But let's hide the middle one.
 */
    .menu_toggle input:checked ~ span:nth-last-child(3)
    {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }

    /*
    * Ohyeah and the last one should go the other direction
    */
    .menu_toggle input:checked ~ span:nth-last-child(2)
    {
        transform: rotate(-45deg) translate(0, -1px);
    }

    /*
    * Make this absolute positioned
    * at the top left of the screen
    */
    ._menu
    {
        position: absolute;
        width: 250px;
        margin: -60px 0 0 -60px ;
        padding: 50px;
        padding-top: 125px;
        background: rgb(53, 53, 119);
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
        /* to stop flickering of text in safari */
        transform-origin: 0% 0%;
        transform: translate(-100%, 0);
        
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }

    ._menu li a
    {
        padding: 5px;
        font-size: 17px;
    }

    /*
    * And let's slide it in from the left
    */
    .menu_toggle input:checked ~ ul
    {
        transform: none;
    }
    ._game_section{
        display: flex;
        flex-direction: column;
        padding:10px;
        width:100%;
        height:160vh;
    }
    ._player_data{
        width: 100%;
        /* background:blue; */

    }
    ._game_btns{
        position:relative;
        padding:10px;
        width: 80%;
    }
    ._game_result{
       
        display: flex;
        flex-wrap: wrap;
        flex-direction:column;
        width:100%;
        height:90vh;
        box-sizing: content-box;
        
    }
    ._game_result div{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column; 
        justify-content: center;
        align-items: center;  
        margin: 0px;
        padding: 0px;
       
    }
    .res{
        font-size: 40px;
        background:#fff;
    }
    /* .ripple{
        animation: none;
    } */

    ._game_rules_section{
        padding:0px;
        margin: 0px;
        width: 100%;
    }
    ._game_rules_body{
        width: 100%;
        padding: 10px;
        margin: 8px;
    }
}

@media only screen and (min-device-width: 400px){
    .menu_toggle{
        display: block;
        position: relative;
        top: 50px;
        left: 50px;
        z-index: 1;
        -webkit-user-select: none;
        user-select: none;
    }


    .menu_toggle
    {
        display: block;
        position: relative;
        top: 0px;
        left: -280px;
        z-index: 1;
        
        -webkit-user-select: none;
        user-select: none;
    }

    ._game_rules_section{
        padding:0px;
        margin: 0px;
        width: 100%;
    }
    ._game_rules_body{
        width: 100%;
        padding: 10px;
        margin: 8px;
    }
}

/* @media only screen and (device-width: 768px)  {
    default iPad screens

    header{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
        margin: 0px;
        width: 100%;
    }
    ._player_data{
        width:100%;
    }
    ._game_btns{
        width: 80%;
    }
    button i{
        font-size: 60px;
    }
    .res{
        font-size:60px;
    }
    
} */

/* @media only screen and (max-device-width: 1024px) and (orientation:portrait) {
    default iPad pro screens

    header{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
        margin: 0px;
        width: 100%;
    }
    ._player_data{
        width:80%;
    }
    ._game_btns{
        width: 80%;
    }
    button i{
        font-size: 60px;
    }
    .res{
        font-size:60px;
    }
} */